/* Rubik 400, Rubik 500 */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0s;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  background-color: white;
}


/* contanier */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  flex-grow: 1;
}

.site-header-contanier {
  display: flex;
  align-items: center;
  flex-wrap: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* site header */
.site-header-item{
  background-color: #f6f6f6;
}
/* Site header contanier */

.site-header-contanier {

}
/* LOGO-SITE */
.logo-img {
  background-color: white;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
}

.logo-img:hover {
  opacity: 0.8;
}
.logo-img:active {
  opacity: 0.6;
}

/* EXCHANGE-RATE */
.exchange-rate {
  margin-right: auto;
}
.current-rate {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.current-rate-itm:not(:last-child) {
  margin-right: 25px;
}
.current-symbol {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 19px;
  font-weight: 700;
  color: #2959CE;
}

.current-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: #555;
}

/* SEARCH */
.search {
  display: flex;
  align-items: center;
  width: 275px;
  height: 45px;
  border: 0;
  border-radius: 60px;
}

.search-box {
  font-size: 14px;
  font-style: normal;
  font-family: "Rubik", "arial", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #8d8d8d;
  padding: 15px 20px 15px 40px;
  border: 0;
  border-radius: 60px;
  margin-right: 28px;
  background-image: url("../img/Mask.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.search-box::before {

}
/* LANGUAGE */
.language {
  display: flex;
  align-items: center;
  background-color: #DCE6FF;
  width: 72px;
  height: 36px;
  border-radius: 39px;
  margin-left: 20px;
  margin-right: 20px;
}

.language-site {
  line-height: normal;
  padding-left: 5px;
}

.language-site-zu {
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  padding-left: 5px;
  padding-top: 5px;
}

.language-site-zu:not(:last-child) {
  margin-right: 15px;
}

.language-text-uz {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  font-family: "rubik", "arial", sans-serif;
  color: #000;
  text-decoration: none;
}

.language-text-ru {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  font-family: "rubik", "arial", sans-serif;
  color: #a6a6a6;
  text-decoration: none;
}

/* ENTER */
.enter {
  font-size: 16px;
  font-family: "Rubik", "arial", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  color:#fff;
  background-color: #7296EC;
  border: 0;
  border-radius: 10px;
  padding: 13px 20px;
  width: 89px;
}

.enter:hover {
  opacity: 0.8;
}

.enter:active {
  opacity: 0.6;
}

/* site header nav */
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #D1D1D1;
  padding-top: 30px;
  padding-bottom: 20px;
}

.site-header-nav-text {
  text-decoration: none;
  font-size: 18px;
  font-family: "Rubik", "Arial", sans-serif;
  text-align: center;
  line-height: 21.33px;
  color: #7f7f7f;
  font-weight: 500;
}

.site-header-nav-text:hover {
 color: #2959CE;
}

.site-header-nav-text:active {
  opacity: 0.8;
}
.header-nav-list:not(:last-child) {
  margin-right: 34px;
}

/* SITE-HEADER-BANER */
.site-header-baner {
  width: 1200px;
  height: 128px;
  margin-top: 40px;
  margin-bottom: 50px;
}
/*MAIN*/
/* NEWS */
.main-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}


.site-news {
  padding: 20px 17px 15px 17px;
  background-color: #F6F6F6;
  border-radius: 19px;
  margin: 0;
}

.site-news-title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.site-news-link {
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}

.site-news-link:hover {
  color: #7296EC;
}

.site-news-link:active {
  opacity: 0.7;
}

.site-news-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #4A4B4C;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.site-news:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}

.site-news-img {
  border-radius: 10px;
  width: 359px;
  height: 165px;
  margin-bottom: 18px;
}

.iconc {
  display: flex;
  align-items: center;
}

.iconc-img {
  margin-right: 7px;
}

.iconc-img {
  border-radius: 5px;
}

.iconc-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #4A4B4C;
}

/* NOTIFICATION */
.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd7ba;
  margin: 60px 75px;
  border-radius: 10px;
  background-image: url("../img/Group.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.notification-text {
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color: #000;
  margin-left: 29px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.notification-button {
  border: 0;
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;line-height: normal;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 71px;
  padding: 13px 30px;
  border-radius: 10px;
  background-color: #F78B3B;
  color: #fff;
}

.notification-button:hover {
  opacity: 0.8;
}

.notification-button:active {
  opacity: 0.6;
}

/* GLOBAL-NEWS */
.global-site-news {
  display: flex;
}

.news-title {
  display: flex;
  align-items: center;
  padding: 20px 20px 23px 17px;
  background-color: #F6F6F6;
  border-radius: 15px;
}

.news-title:not(:last-child) {
  margin-bottom: 10px;
}

.global-news-content {
  font-size: 24px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.global-news-image {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.global-news {
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.global-news:hover {
  color: #7296EC;
}

.global-news:active {
  opacity: 0.8;
}

.global-news-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #4a4b4c;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.news-time {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.global-new-iconc {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.global-news-iconc-text {
  font-size: 12px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #5E5F61;
}

.show-again {
  background-color: #EAEAEA;
  padding: 17px 343px;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  line-height: 18.96px;
  margin: 0;
  border: 0;
  margin-bottom: 100px;
}

.show-again:hover {
  background-color:#7296EC;
}

.show-again:active {
  opacity: 0.6;
}

/* GLAVNO NEWS */
.glavno-news {
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  padding: 25px 17px 25px 17px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.glavno-header {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.glavno-news-title {
  font-size: 18px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.glavno-news-title:hover {
  color: #7296EC;
}

.glavno-news-title:active {
  opacity: 0.8;
}

.glavno-news-text {
  font-size: 13px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #5E5F61;
  padding: 0;
  margin: 0;
}

.glavno-news-text:not(:last-child) {
  margin-bottom: 24px;
}

.glavno-news-line {
  color: #D2D2D2;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.glavno-news-image {
  width: 393px;
  height: 338px;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

/* SITE_FOOTER */
.site-footer {
  background-color: #7297EF;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.footer {
  margin: 0;
  padding: 0;
  margin-left: 101px;
  margin-right: 101px;
}

.site-footer-logo {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
}

.footer-content {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CECECE;
}

.site-footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.footer-content-text {
  font-size: 12px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-right: 200px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-footer {
  padding: 0;
  margin: 0;
}

.list-footer:not(:last-child) {
  margin-bottom: 20px;
}

.footer-list:not(:last-child) {
  margin-right: 100px;
}

.footer-list-link {
  text-decoration: none;
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer-list-link:hover {
  color: #CECECE;
}

.footer-list-link:active {
  opacity: 0.8;
}
/* FOOTER-NAV */
.footer-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer-nav-text {
 font-size: 18px;
 font-family: "Rubik", "Arial", sans-serif;
 font-style: normal;
 font-weight: 500;
 line-height: 127.778%;
 color: #fff;
 margin: 0;
 padding: 0;
 margin-right: 660px;
}

.footer-nav-list {
 list-style: none;
 display: flex;
 align-items: center;
 margin: 0;
 padding: 0;
}

.footer-nav-itm:not(:last-child) {
  margin-right: 25px;
}

.footer-nav-img:hover {
  opacity: 0.8;
}

.footer-nav-img:active {
  opacity: 0.6;
}

/* LIST PART */

.list-news-time {
  font-size: 12px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #5E5F61;

}

.list-iconc-text-1 {
  display: flex;
  align-items: center;
}
.list-iconc-text-1::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-2 {
  display: flex;
  align-items: center;
}
.list-iconc-text-2::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-3 {
  display: flex;
  align-items: center;
}
.list-iconc-text-3::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-4 {
  display: flex;
  align-items: center;
}
.list-iconc-text-4::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-5 {
  display: flex;
  align-items: center;
}
.list-iconc-text-5::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-6 {
  display: flex;
  align-items: center;
}
.list-iconc-text-6::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-7 {
  display: flex;
  align-items: center;
}
.list-iconc-text-7::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.list-iconc-text-8 {
  display: flex;
  align-items: center;
}
.list-iconc-text-8::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/list-iconc-8.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}

.lis-glavno-news-image {
  width: 393px;
  height: 553px;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

/* ARTICLE */

.header-list-nav {
 padding: 0;
 margin: 0;
 margin-bottom: 40px;
}

.article-iconc {
  margin-bottom: 40px;
}

.article-item {
  margin-bottom: 60px;
  width: 797px;
  border-bottom: 1px solid #D2D2D2;
}

.article-title {
 display: flex;
 flex-direction: column;
 font-size: 26px;
 font-family: "Rubik", "Arial", sans-serif;
 font-style: normal;
 font-weight: 500;
 line-height: 36px;
 color: #000;
 padding: 0;
 margin: 0;
 margin-bottom: 25px;
}

.article-title::after {
  content: "";
  width: 797px;
  height: 300px;
  background-image: url("../img/tesla-fon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 20px;
  border-radius: 13px;
}

.apticle-main-text {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  width: 797px;
}

.apticle-main-text:not(:last-child) {
  margin-bottom: 25px;
}

.article-main-last-text {
  margin-bottom: 50px;
}


/* ARTICLE-NOTIFICATION */
.article-notification {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
.article-notification-item {
  font-size: 24px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.article-notification-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.article-notification-list-title {
  background-color: #F6F6F6;
  padding: 20px 18px 15px 17px;
  margin: 0;
  border-radius: 15px;
}

.article-notification-list-title:not(:last-child) {
  margin-right: 10px;
}

.article-notification-link {
  text-decoration: none;
 font-size: 20px;
 font-family: "Rubik", "Arial", sans-serif;
 font-style: normal;
 font-weight: 500;
 line-height: 1.3;
 color: #000;
 padding: 0;
 margin: 0;
 margin-bottom: 10px;
}

.article-notification-link:hover {
  color: #7296EC;
}

.article-notification-link:active {
  opacity: 0.6;
}

.article-notification-list-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  color: #4a4b4c;
  padding: 0;
  margin: 10px 0 23px 0;
}

.article-notification-iconca {
  font-size: 13px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #5E5F61;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.article-notification-iconc-1::before {
  width: 20px;
  height: 20px;
  content: " ";
  background-image: url("../img/article-notification-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.article-notification-iconc-2::before {
  width: 20px;
  height: 20px;
  content: " ";
  background-image: url("../img/article-notification-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.article-notification-iconc-3::before {
  width: 20px;
  height: 20px;
  content: " ";
  background-image: url("../img/article-notification-3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

/* CONTACT */
.contact-item {
  font-size: 24px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.messages {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: flex;
}
.messages-item {
  padding: 0;
  margin: 0;
  flex-direction: column;
  margin-right: 10px;
}
.telephone-email {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.telephone {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border-radius: 10px;
}

.phone {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  width: 343px;
  height: 55px;
}
.text-contact {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  border-radius: 10px;
  flex-shrink: 0;

}

.text-contact-name {
  padding: 0;
  margin: 0;
  padding: 18px 20px;
  width: 343px;
  height: 55px;
}

.text-contact-phone {
  padding: 0;
  margin: 0;
  padding: 18px 20px;
  width: 343px;
  height: 55px;
}

.text-contact-email {
  padding: 0;
  margin: 0;
  padding: 18px 20px;
  width: 696px;
  height: 55px;
}

.text-contact-textaria {
  padding: 0;
  margin: 0;
  display: block;
  width: 696px;
  height: 180px;
  padding: 18px 20px;
  resize: vertical;
}

.email {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}
.massage-text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: row-reverse;
}
.button-click {
  padding: 0;
  margin: 0;
  padding: 17px 30px;
  background-color: #7297EF;
  border-radius: 10px;
  border: 0;
  color: #fff;
}
.site-contacts-info {
  width: 494px;
  height: 310px;
  padding: 0;
  margin: 0;
  padding: 40px 25px 20px 25px;
  background-color: #F6F6F6;
  border: 0;
  border-radius: 10px;
}
.site-contact {
  padding: 0;
  margin: 0;
}

.site-contact:not(:last-child) {
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 20px;
}
.site-contact-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  margin-bottom: 7px;
}
.site-contact-text {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
