/* Rubik 400, Rubik 500 */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0s;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  background-color: white;
}


/* contanier */
.cotainer {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* site header */
.site-header-item{
  background-color: #f6f6f6;
}
/* Site header contanier */

.site-header-contanier {

}
/* LOGO-SITE */
.logo-img {
  background-color: white;
  padding: 8px 6px;
  border-radius: 7px;
}

/* EXCHANGE-RATE */
.current-rate {
  list-style: none;
}
.current-symbol {
 font-size: 16px;
 font-family: "Rubik", "Arial", sans-serif;
 line-height: 19px;
 font-weight: 700;
 color: #2959CE;
}

.current-text {
  font-size: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: #555;
}

/* SEARCH */
.search {
 width: 275px;
 height: 45px;
}

.search-box {
  width: 150
  font-s14px;
  font-style: normal;
  font-family: "Rubik", "arial", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #8d8d8d;
  padding-left: 41px;
  padding-top: 13px;
  padding-bottom: 13px;
}